# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible
*.retry
.vault_pass

# Kubernetes
kubeconfig
*.kubeconfig

# Docker
*.env
.env

# OS / Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log
logs/
